body {
    height: 4000px;
}

.navmenu {
    background-color: #282A35;
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    z-index: 999;
}
.navmenu a {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: #f1f1f1;
    padding: 10px 15px 10px 15px !important;
}

/* .navmenu a:active {
    background-color: #04AA6D !important;
    color: #fff !important;
} */
body > nav > a:nth-child(1) {
    background-color: #04AA6D !important;
    color: #fff !important;
} 

.navmenu a:hover {
    background-color: #20b17c !important;
    color: #fff !important;
}
/* div {
    height: 300px;
    width: 200px;
    position: relative;
    top: 60px;
} */

.sidemenu {
    background-color: #E7E9EB !important;
    width: 17%;
    position: sticky;
    top: 0;
}
.sidemenu a {
    display: block;
    text-decoration: none !important;
    line-height: 1.5;
    padding: 5px 15px 5px 15px !important;
    color: black;
}

.sidemenu a:hover {
    background-color: #04AA6D !important;
    color: #fff !important;

    
}